<html>
	<head>
		<title>GitGrader</title>
		<link rel="stylesheet" href="static/css/jquery-ui.css">
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/style.css">
		<script type="text/javascript" src="summary.js"></script>
		<script src="static/scripts/lib/jquery-1.12.4.js"></script>
		<script src="static/scripts/lib/jquery-ui.js"></script>
		<script src="static/scripts/lib/charts.js"></script>
		<script src="static/scripts/lib/vue.js"></script>
		<script type="text/javascript" src="static/scripts/utils.js"></script>
		<script type="text/javascript" src="static/scripts/detail-data-formating.js"></script>
		<script>
		$(document).ready(function() {
			var app = new Vue({
				el: '#vue-app',
				data: {
					summary : summaryJson,
					currentRepo : getQueryVariable('repo')
				},
				methods: {
					getAuthorProgressID : function(author,repo) {
						return author + "-progress-canvas";
					}
				}
			});
		});
		</script>
	</head>
	<body>
		<div id="vue-app">
			<div class="box-wrapper">
				<template v-for="(v,author) in summary[currentRepo]['authorIntervalContributions']">
				<div class="summary_box">
					<h6>{{ author }}</h6>
					<div class="box-wrapper">
						<canvas v-bind:id="getAuthorProgressID(author,currentRepo)"></canvas>
					</div>
				</div>
				</template>
				<div class="summary_box">
					<h6>Contribution Distribution</h6>
					<div class="box-wrapper" style="width: 50%">
						<canvas id="distribution-canvas"></canvas>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>