<html>
	<head>
		<title>GitGrader</title>
		<link rel="stylesheet" href="static/css/jquery-ui.css">
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/style.css">
		<script type="text/javascript" src="summary.js"></script>
		<script src="static/scripts/lib/jquery-1.12.4.js"></script>
		<script src="static/scripts/lib/jquery-ui.js"></script>
		<script src="static/scripts/lib/charts.js"></script>
		<script src="static/scripts/lib/vue.js"></script>
		<script type="text/javascript" src="static/scripts/utils.js"></script>
		<script type="text/javascript" src="static/scripts/summary-data-formating.js"></script>
		<script>
		$(document).ready(function() {
			var app = new Vue({
				el: '#vue-app',
				data: {
					summary : summaryJson,
				},
				methods: {
					getDistributionCanvasID : function (repo) {
						return repo + "-distribution-canvas";
					},
					getProgressCanvasID : function(repo) {
						return repo + "-progress-canvas";
					}
				}
			});
		});
		</script>
	</head>
	<body>
		<div id="vue-app">
			<div class="box-wrapper">
				<template v-for="repo in summary">
				<div class="summary_box">
					<h6>{{ repo.displayName }}</h6>
					<a href="#" class="detail_link">More Details</a>
					<div class="box-wrapper">
						<div class="progress_box" >
							<canvas v-bind:id="getProgressCanvasID(repo.displayName)"></canvas>
						</div>
						<div class="distribution_box" >
							<canvas v-bind:id="getDistributionCanvasID(repo.displayName)"></canvas>
						</div>
					</div>
					</template>
				</div>
			</div>
		</div>
	</body>
</html>