body {
    font-family: "Titillium Web", sans-serif
}

vuetemplate {
    display: none
}

.wrapper {
    text-align: center
}

.content {
    max-width: 40rem;
    text-align: left
}

.empty {
    margin: 3rem 5rem;
    text-align: center
}

.timestamp-footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 23%;
    background-color: #000;
    opacity: .6;
    color: #fff;
    text-align: left
}

header {
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: center
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1
}

header .repo, header .logo {
    margin: 0
}

#file-upload {
    text-align: center
}

#app-wrapper {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100vh
}

#app-wrapper #summary-wrapper {
    height: 100%;
    overflow-y: scroll;
    flex-grow: 1
}

#app-wrapper #tabs-wrapper {
    flex: 0 0 50%;
    position: relative;
    overflow-y: scroll
}

#app-wrapper #tabs-wrapper .tab-close {
    cursor: pointer;
    position: fixed;
    top: calc(50vh - 3rem)
}

#app-wrapper #tabs-wrapper .tab-close svg {
    color: #fff;
    background-color: #333;
    padding: 3rem .25rem
}

#app-wrapper #tabs-wrapper .mui-tabs__bar {
    background-color: #fff;
    width: 50%;
    position: fixed;
    right: 0
}

#app-wrapper #tabs-wrapper .mui-tabs__bar a {
    display: inline;
    cursor: pointer;
    vertical-align: middle
}

#app-wrapper #tabs-wrapper .tab-content {
    display: flex;
    padding: 1rem 1.5rem;
    padding-top: 4rem
}

#app-wrapper #tabs-wrapper .tab-content .tab-panes {
    width: 100%;
    text-align: left
}

#summary, .summary-status {
    padding: 2rem 1rem
}

.summary-picker {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem
}

.summary-picker__input {
    margin: 0 .5rem;
    text-align: left
}

.summary-picker__search {
    text-transform: lowercase
}

.summary-picker__checkboxes label {
    margin-left: .5rem
}

.summary-picker__checkboxes span {
    margin-left: .25rem
}

.summary-picker__date:first-child {
    margin-right: .5rem
}

.summary-charts {
    margin-bottom: 3rem
}

.summary-charts--title {
    text-align: left;
    font-weight: bold
}

.summary-chart {
    margin-bottom: 1rem
}

.summary-chart.indented {
    padding-left: 1.5rem
}

.summary-chart__title {
    text-align: left;
    cursor: pointer
}

.summary-chart__title--index, .summary-chart__title--repo, .summary-chart__title--name {
    display: inline
}

.summary-chart__title--index, .summary-chart__title--repo {
    font-weight: bold
}

.summary-chart__title--index::after {
    content: ".";
    display: inline-block;
    padding-right: .5rem
}

.summary-chart__title--repo {
    padding-right: .25rem
}

.summary-chart__ramp {
    position: relative;
    font-size: 100%;
    height: 3rem;
    background-color: #e3f2fd
}

.summary-chart__ramp__slice {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid
}

.summary-chart__ramp__slice--color0 {
    border-bottom: 3rem rgba(255, 152, 0, .5) solid
}

.summary-chart__ramp__slice--color1 {
    border-bottom: 3rem rgba(3, 169, 244, .5) solid
}

.summary-chart__ramp__slice--color2 {
    border-bottom: 3rem rgba(76, 175, 80, .5) solid
}

.summary-chart__ramp__slice--color3 {
    border-bottom: 3rem rgba(63, 81, 181, .5) solid
}

.summary-chart__ramp__slice--color4 {
    border-bottom: 3rem rgba(233, 30, 99, .5) solid
}

.summary-chart__contrib {
    width: 100%;
    text-align: left
}

.summary-chart__contrib--bar {
    height: .3rem;
    margin-top: .1rem;
    background-color: #f44336
}

#tab-authorship .title .repoName {
    font-size: 1.5rem;
    font-weight: bold
}

#tab-authorship .files {
    margin-top: 2rem
}

#tab-authorship .files .title {
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold
}

#tab-authorship .files .untouched {
    border-style: solid;
    border-color: #000;
    border-width: 1px 0;
    margin-top: 1rem
}

#tab-authorship .files .untouched .closer {
    cursor: pointer;
    padding: .5rem 1rem
}

#tab-authorship .files .untouched .closer span {
    color: #000;
    font-weight: bold
}

#tab-authorship .empty {
    text-align: center
}