.idea/
.vs/

.DS_Store
*.class
*.iml
*.zip
*.tmp

ft_temp/
/target/
.gradle/
build/
repos/
logs/
out/

node_modules
/frontend/public/
!/frontend/public/favicon.ico
!/frontend/public/logo.png
!/frontend/public/index.html
/frontend/.eslintcache
/frontend/.stylelintcache
/frontend/cypress/cypress/downloads/

reposense-report/
reposense-logs/
docs/_site/
bin/
