.idea/
.vs/

.DS_Store
*.class
*.iml
*.zip

ft_temp/
/target/
.gradle/
build/
repos/
logs/
out/

node_modules
/frontend/public/
!/frontend/public/favicon.ico
!/frontend/public/index.html

reposense-report/
docs/_site/
