.collapse-container {
	padding: 5px;
    background-color: #007fff;
    border: 1px solid black;
    margin: auto;
}

.collapse-container-small {
	padding: 5px;
    background-color: Silver;
    border: 1px solid black;
    cursor: pointer;
    margin: auto;
}

.collapse-code-detail {
    border-width: 0px 1px 0px 1px;
    border-color: black;
    border-style: solid;
    margin: auto;
}
