html, body{
    height: 100%;
}

body.main-app{
    overflow: hidden;
}


div.author-name-menu-container {
	width: 15vw;
	float:left;
	position: fixed;

}

div.code-container {

}

div.authored {
    background-color: Silver;
}

code.authored {
    background-color: Silver;
}


div.issue-col {
    border-left: 1px solid  #8B4513	;
}

div.author-col {
	  border-right: 3px solid  #8B4513	;

}

span.line-number {
	padding-right: 2%;
}

pre {
	border: 0; 
	background-color: 
	transparent;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

code {
    overflow: hidden;
}

div.progress-chart-box {
    float:left;
}

div.progress-chart-tool {
    padding-top:1%;
    padding-left:5%;
    height:15%;
    display: block;
}

div.filter-row {
}

div.progress-chart-main {
    height:85%;
    overflow-y: scroll;
    overflow-x: hidden;
}


div.code-review-box {
    float: left;
    padding: 1px;
}


div.highlighted {
	background-color: #66ccff;
}

a.detail_link {
	position: absolute;
    top: 0px;
    right: 0px;
}

h4.author_name_tag:hover {
    text-decoration: underline;
}


div.slice {
    position:absolute;
    margin-left: 0%;
    height: 100%;
    width:3%;
    background: linear-gradient(to top right, rgba(255,0,0,0.8) 50%, transparent 50%);
    display: inline-block;
}

div.spectrum {
    width:100%;
    height:30px;
    background-color:#deebf6;
    position: relative;
}