html, body{
    height: 100%;
}

div.content-container {
	width: 82vw;
	float:right;
}

div.author-name-menu-container {
	width: 15vw;
	float:left;
	position: fixed;

}

div.code-container {

}
div.row {
  border-bottom: 1px solid  #D3D3D3;
}

div.issue-col {
    border-left: 1px solid  #8B4513	;
}

div.author-col {
	  border-right: 3px solid  #8B4513	;

}

span.line-number {
	padding-right: 2%;
}

pre {
	border: 0; 
	background-color: 
	transparent;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

div.box-wrapper {
	display: -webkit-box;     /* iOS 6-, Safari 3.1-6 */
    display: -moz-box;        /* Firefox 19- */
    display: -ms-flexbox;     /* IE 10 */
    display: -webkit-flex;    /* Chrome */
    display: flex;            /* Opera 12.1, Firefox 20+ */
    
    /* iOS 6-, Safari 3.1-6 */
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-lines: multiple;  /* Only here for informative purpose, this line is what should have made it work, it has never been implemented */     

    /* Firefox 19- */
    -moz-flex-flow: row wrap;
    -moz-justify-content: space-between;
    -moz-box-lines: multiple; /* Only here for informative purpose, this line is what should have made it work, it has never been implemented */ 
    
    /* Chrome */
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;
    
    /* IE10 */
    -ms-flex-flow: row wrap;
    -ms-justify-content: space-between;
    
    /* Opera 12.1, Firefox 20+ */
    flex-flow: row wrap;
    justify-content: space-between;
    width:100%;
}

div.summary_box {
    width: 45%;
    -webkit-box-flex: auto;    /* iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1.0;        /* Firefox 19- */
    -webkit-flex: auto;        /* Chrome */
    -ms-flex: auto;            /* IE10 */
    flex: auto; 
    position:relative;
    padding: 2%;
    border-radius: 25px;
    border: 1px solid black;
    margin: 1%;
}

div.progress_box {
	margin-top: 5%;
	margin-left: 2%;
    margin-bottom: 2%;
    width: 40%;

}

div.distribution_box {
	margin-left: 25%;
    margin-bottom: 2%;
    width: 30%;
}



.hover
{
    background-color:Silver;
}

div.highlighted {
	background-color: #66ccff;
}

a.detail_link {
	position: absolute;
    top: 0px;
    right: 0px;
}