@function validate-map-key($map, $key) {
  @if map-has-key($map, $key) == false {
    @error 'Key `#{$key}` not found';
    @return false;
  }
  @return true;
}

@mixin mini-font {
  font-size: .65rem;
  font-weight: normal;
}

@mixin small-font {
  font-size: .8rem;
  font-weight: normal;
}

@mixin medium-font {
  font-size: .9rem;
  font-weight: normal;
}

@mixin large-font {
  font-size: 1.2rem;
  font-weight: bold;
}

// GitHub's font family and font size
@mixin mono-font {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: .75rem;
}
