@import 'colors';
@import 'z-indices';

.panel-padding {
  padding: 2rem 1.5rem 2rem 2.2rem;
}

#app-wrapper {
  display: flex;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: z-index('app-wrapper');

  #tab-resize {
    background-color: mui-color('black');
    cursor: col-resize;
    height: 100%;
    width: 13.250px;
    z-index: z-index('center-divider');
  }

  .tab-close {
    cursor: pointer;
    position: relative;
    top: calc(50vh - 3rem);
    z-index: z-index('center-divider');

    svg {
      background-color: mui-color('grey', '300');
      color: mui-color('black');
      padding: 3rem .25rem;
    }
  }

  .left-resize-container {
    flex-grow: 1;
    height: 100%;
    min-width: 0;
  }

  .right-resize-container {
    flex: 0 0 50%;
    height: 100%;
    min-width: 0;
  }

  #tab-resize-guide {
    $tabs-width: 50%;

    background-color: mui-color('black');
    cursor: col-resize;
    display: none;
    height: 100%;
    position: fixed;
    right: $tabs-width;
    width: 2px;
    z-index: z-index('center-divider');
  }

  #tabs-wrapper {
    height: 100%;
    overflow-y: scroll;
    position: relative;

    .tab-content {
      display: flex;

      .tab-pane {
        text-align: left;
        width: 100%;
      }
    }
  }
}

.fileTypes {
  align-items: center;
  display: flex;
  margin: 5px 0 5px 0;
  text-align: left;

  .checkboxes {
    label {
      align-items: center;
      border-radius: 5px;
      display: inline-flex;
      margin: 0 5px 5px 0;
      padding: 0 5px;
    }

    span {
      margin-left: .25rem;
    }
  }
}

.fileTypeLabel {
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 0 5px;

  &.binary {
    background-color: mui-color('white');
    border: 1px solid mui-color('grey', '800');
    color: mui-color('grey', '800');
  }
}

.toolbar {
  cursor: pointer;
  float: right;

  &--multiline {
    float: right;

    > a {
      display: block;
      margin: 1px 0;
      text-align: end;
    }
  }
}

.sorting {
  align-items: center;
  display: flex;
  margin-top: 1.0rem;

  .mui-select {
    cursor: pointer;
    padding-right: 15px;
  }

  select {
    @include medium-font;
  }

  label {
    @include medium-font;
    overflow-y: hidden;
  }

  & > label {
    margin-left: 10px;
  }

  span {
    margin-left: .25rem;
  }
}

.panel-title {
  @include large-font;
  display: inline;
}

.panel-heading {
  .group-name {
    @include large-font;
    cursor: pointer;
  }

  .author {
    @include medium-font;
    margin-left: .3rem;
  }

  .period {
    @include medium-font;
    margin-left: 2rem;
  }
}
