@import 'colors';

/* Tags in commits */
.tag {
  @include mini-font;
  background: mui-color('grey', '600');
  border-radius: 5px;
  color: mui-color('white');
  display: inline-block;
  margin: .2rem .2rem .2rem 0;
  padding: 0 3px 0 3px;

  .fa-tags {
    width: .65rem;
  }
}