@import 'colors';
@import 'z-indices';

.panel-padding {
  padding: 2rem 1.5rem 2rem 2.2rem;
}

#app-wrapper {
  display: flex;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: z-index('app-wrapper');

  #tab-resize-guide {
    $tabs-width: 50%;

    background-color: mui-color('black');
    cursor: col-resize;
    display: none;
    height: 100%;
    position: fixed;
    right: $tabs-width;
    width: 2px;
    z-index: z-index('center-divider');
  }

  #tabs-wrapper {
    $tabs-width: 50%;

    background: mui-color('white');
    flex: 0 0 $tabs-width;
    overflow-y: scroll;
    position: relative;

    .tab-close {
      cursor: pointer;
      position: fixed;
      top: calc(50vh - 3rem);
      z-index: z-index('center-divider');

      svg {
        background-color: mui-color('grey', '300');
        color: mui-color('black');
        padding: 3rem .25rem;
      }
    }

    .tab-content {
      display: flex;

      .tab-panes {
        text-align: left;
        width: 100%;
      }
    }

    #tab-resize {
      background-color: mui-color('black');
      cursor: col-resize;
      height: 100%;
      position: fixed;
      width: 13.250px;
      z-index: z-index('center-divider');
    }
  }
}

.fileTypes {
  align-items: center;
  display: flex;
  text-align: left;

  .checkboxes {
    label {
      align-items: center;
      border-radius: 5px;
      display: inline-flex;
      margin: 0 5px 5px 0;
      padding: 0 5px;
    }

    span {
      margin-left: .25rem;
    }
  }
}

.toolbar {
  cursor: pointer;
  float: right;

  &--multiline {
    float: right;

    > a {
      display: block;
      margin: 1px 0;
      text-align: end;
    }
  }
}

.sorting {
  align-items: center;
  display: flex;
  margin-top: 1.0rem;

  .mui-select {
    cursor: pointer;
    padding-right: 15px;
  }

  label {
    overflow-y: hidden;
  }

  & > label {
    margin-left: 10px;
  }

  span {
    margin-left: .25rem;
  }
}

.panel-heading {
  .group-name {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .author {
    font-size: .875rem;
    font-weight: normal;
    margin-left: .3rem;
  }

  .period {
    font-size: .875rem;
    font-weight: normal;
    margin-left: 2rem;
  }
}

