@import "colors";

/** global **/
body{
    font-family:"Titillium Web", sans-serif;
}

vuetemplate{
    display:none;
}

.wrapper{
    text-align:center;
}

.content{
    max-width:40rem;
    text-align:left;
}

.empty{
    margin:3rem 5rem;
    text-align:center;
}

/** navigation bar **/
header{
    z-index:100;
    position:relative;

    display:flex;
    justify-content:center;

    .content{
        display:flex;
        justify-content:space-between;
        align-items:center;

        flex-grow:1;
    }

    .repo, .logo{
        margin:0;
    }
}

#file-upload{
    text-align:center;
}

#app-wrapper{
    display:flex;
    position:absolute;
    left:0; top:0;
    z-index:50;

    width:100%;
    height:100vh;

    #summary-wrapper{
        height:100%;
        overflow-y:scroll;
        flex-grow:1;

        text-align:center;

        .timestamp-footer {
            margin-left:1em;
            margin-bottom:1em;
            color:mui-color('grey', '700');
        }
    }

    #tabs-wrapper{
        $tabs-width:50%;

        flex:0 0 $tabs-width;
        position:relative;
        overflow-y:scroll;
        background:mui-color('grey', '200');

        .tab-close{
            cursor:pointer;
            position:fixed;
            top:calc(50vh - 3rem);

            svg{
                color:mui-color('white');
                background-color:mui-color('grey', '900');
                padding:3rem 0.25rem;
            }
        }

        .tab-content{
            display:flex;
            padding:1rem 1.5rem;
            padding-top:4rem;

            .tab-panes{
                width:100%;
                text-align:left;
            }
        }
    }
}

/* summary chart */
#summary, .summary-status{
    padding:2rem 1rem;
}

.summary-picker{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;

    margin-bottom:2rem;

    &__section{
        display:flex;
        flex:0 0 auto;
    }

    &__checkboxes{
        label{ margin-left:0.5rem; }
        span{ margin-left:0.25rem; }
    }

    .mui-textfield, .mui-select{
        margin:0.5rem;
    }

    label{
        text-align:left;
        overflow-y:hidden;
    }

    input, select{
        font-size:0.75rem;
    }
}

.summary-charts{
    margin-bottom:3rem;

    &__title{
        display:block;
        text-align:left;
        font-weight:bold;
    }
}

.summary-chart{
    margin-bottom:1rem;

    &__title{
        text-align:left;
        cursor:pointer;

        & > * {
            display:inline;
            padding-right:0.5rem;
        }

        &--index, &--repo{
            font-weight:bold;
        }

        &--index::after{
            content:".";
            display:inline-block;
        }

        &--repo{
            padding-right:0.25rem;
        }

        &--tooltip{
            color:mui-color("grey");
        }
    }

    &__ramp{
        font-size:100%;
        position:relative;

        $height:3rem;
        height:$height;
        background-color:mui-color("blue", "50");

        &__slice{
            display:block;
            position:absolute;
            width:0;
            height:0;

            border-left-color: rgba(0,0,0,0);
            border-left-style: solid;

            &--color0{ border-bottom:$height rgba(mui-color("orange"), 0.5) solid;  }
            &--color1{ border-bottom:$height rgba(mui-color("light-blue"), 0.5) solid;  }
            &--color2{ border-bottom:$height rgba(mui-color("green"), 0.5) solid;  }
            &--color3{ border-bottom:$height rgba(mui-color("indigo"), 0.5) solid;  }
            &--color4{ border-bottom:$height rgba(mui-color("pink"), 0.5) solid;  }
        }
    }

    &__contrib{
        text-align:left;

        &--bar{
            height:0.3rem;
            margin-top:0.1rem;
            background-color:mui-color("red");
        }
    }
}

/* Authorship */
#tab-authorship{
    .toolbar{
        float: right;
        cursor: pointer;
    }

    .title .repoName {
        font-size:1.5rem;
        font-weight:bold;
    }

    .contribution{
        margin-top:0.1rem;
        color:mui-color("red");

        .loc {
            font-weight:bolder;
        }

        span.fileType {
            span::after {
              content: ', ';
            }

            span:last-child::after {
              content:'';
            }
        }
    }

    .checkboxes label {
        display: block;
        float: left;
        padding-right: 10px;
        white-space: nowrap;
    }

    .checkboxes input {
        vertical-align: middle;
    }

    .checkboxes label span {
        vertical-align: middle;
        margin-right:2px;
    }

    .files{
        margin-top:2rem;

        .file{
            pre{
                display:none;
            }

            &.active{
                pre{
                    display:grid;
                    .hljs{
                        // overwrite hljs library
                        display:inherit;
                    }
                }
            }
        }

        .title{
            margin-top:1rem;
            cursor:pointer;
            font-size:1.25rem;
            font-weight:bold;

            .loc{
                color:mui-color('grey');
            }
        }

        .code{
            padding-left:1rem;
            border-left:0.25rem solid mui-color('green');
            background-color:mui-color('green', '50');
        }

        .untouched{
            $grey:mui-color('grey', '400');

            &.active{
                .code{
                    display:inherit;
                    background-color:mui-color('white');
                }

                .closer{
                    .icon{
                        background-color:mui-color('black');
                    }

                    .tooltiptext{
                        &--open{ display:inline-block; }
                        &--close{ display:none; }
                    }
                }
            }

            .code{
                display:none;
                border-left:0.25rem solid $grey;
                background-color:mui-color('white');
            }

            .closer{
                cursor:pointer;
                padding:0.5rem 1rem;

                .icon{
                    background-color:$grey;
                    color:mui-color('white');

                    width:2.2rem;
                    border-radius:0.25rem;

                    &:hover{
                        background:black;
                    }

                    &:hover ~ .tooltiptext{
                        visibility:visible;
                    }
                }

                .tooltiptext{
                    padding:0.5rem;
                    margin-left:0.5rem;
                    border-radius:0.25rem;

                    color:mui-color('white');
                    background-color:mui-color('black');

                    text-align:center;
                    visibility:hidden;

                    &--open{ display:none; }
                    &--close{ display:inline-block; }
                }
            }
        }
    }

    .empty{
        text-align:center;
    }
}
