@import "colors";

/** global **/
body{
    font-family:"Titillium Web", sans-serif;
}

vuetemplate{
    display:none;
}

.wrapper{
    text-align:center;
}

.content{
    max-width:40rem;
    text-align:left;
}

.empty{
    margin:3rem 5rem;
    text-align:center;
}

.loader{
    background:#FFF;
    opacity:1;
    position:fixed;
    z-index:10;
    top:0px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    .loading{
        margin-top:12px;
    }
}

/** navigation bar **/
header{
    z-index:100;
    position:relative;

    display:flex;
    justify-content:center;

    .content{
        display:flex;
        justify-content:space-between;
        align-items:center;

        flex-grow:1;
    }

    .repo, .logo{
        margin:0;
    }
}

#file-upload{
    text-align:center;
}

#app-wrapper{
    display:flex;
    position:absolute;
    left:0; top:0;
    z-index:50;

    width:100%;
    height:100vh;

    #tab-resize-guide{
        $tabs-width:50%;

        display:none;
        position:fixed;
        z-index:100;
        right:$tabs-width;
        width:2px;
        height:100%;
        background-color:mui-color('black');
        cursor:col-resize;
    }

    #summary-wrapper{
        height:100%;
        overflow-y:scroll;
        flex-grow:1;

        text-align:center;

        .timestamp-footer {
            margin-left:1em;
            margin-bottom:1em;
            color:mui-color('grey', '700');
        }
    }

    #tabs-wrapper{
        $tabs-width:50%;

        flex:0 0 $tabs-width;
        position:relative;
        overflow-y:scroll;
        background:mui-color('grey', '200');

        .tab-close{
            cursor:pointer;
            position:fixed;
            top:calc(50vh - 3rem);

            svg{
                color:mui-color('black');
                background-color:mui-color('white');
                padding:3rem 0.25rem;
            }
        }

        .tab-content{
            display:flex;
            padding:1rem 1.5rem;
            padding-top:4rem;

            .tab-panes{
                width:100%;
                text-align:left;
            }
        }

        #tab-resize{
            position:fixed;
            width:13.250px;
            height:100%;
            background-color:mui-color('black');
            cursor:col-resize;
        }
    }
}

/* summary chart */
#summary, .summary-status{
    padding:2rem 1rem;
}

.summary-picker{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;

    margin-bottom:2rem;

    &__section{
        display:flex;
        flex:0 0 auto;
    }

    &__checkboxes{
        label{ margin-left:0.5rem; }
        span{ margin-left:0.25rem; }
    }

    .mui-textfield, .mui-select{
        margin:0.5rem;
    }

    label{
        text-align:left;
        overflow-y:hidden;
    }

    input, select{
        font-size:0.75rem;
    }
}

.summary-charts{
    margin-bottom:3rem;

    &__title{
        display:block;
        text-align:left;
        font-weight:bold;
    }

    &__fileformat--breakdown{
        overflow-y:hidden;

        &__legend{
            float:left;
            display:inline;
        }
    }
}

.summary-chart{
    position:relative;
    margin-bottom:1rem;
    text-align:left;

    &__title{

        & > * {
            display:inline;
            padding-right:0.5rem;
        }

        &--index, &--repo{
            font-weight:bold;
        }

        &--index::after{
            content:".";
            display:inline-block;
        }

        &--repo{
            padding-right:0.25rem;
        }

        &--button{
            cursor:pointer;
            color:mui-color("grey");
            text-decoration:none;
        }
    }

    &__ramp{
      position:relative;
      cursor:crosshair;

      .overlay{
        height:100%;
        position:absolute;
        top:0;

        &.show{
          background-color:#fffa;
        }

        &.edge{
          border-right:.1rem dashed #000;
        }
      }
    }

    &__contrib{
        text-align:left;

        &--bar{
            height:0.3rem;
            margin-top:0.1rem;
            background-color:mui-color("red");
        }

        &--bar--fileformat{
            text-align:left;
            height:0.3rem;
            margin-top:0.1rem;
            float:left;
            display: inline-block;
        }
    }
}

/* Ramp */
.ramp{
    font-size:100%;
    position:relative;

    $height:3rem;
    height:$height;
    background-color:mui-color("blue", "50");

    &__slice{
        display:block;
        position:absolute;
        width:0;
        height:0;

        border-left-color: rgba(0,0,0,0);
        border-left-style: solid;

        &--color0{ border-bottom:$height rgba(mui-color("orange"), 0.5) solid;  }
        &--color1{ border-bottom:$height rgba(mui-color("light-blue"), 0.5) solid;  }
        &--color2{ border-bottom:$height rgba(mui-color("green"), 0.5) solid;  }
        &--color3{ border-bottom:$height rgba(mui-color("indigo"), 0.5) solid;  }
        &--color4{ border-bottom:$height rgba(mui-color("pink"), 0.5) solid;  }
    }
}

/* Authorship */
#tab-authorship{
    .toolbar{
        float: right;
        cursor: pointer;
    }

    .title{
        .repoName{
            font-size:1.5rem;
            font-weight:bold;
            cursor:pointer;
        }

        .contribution{
            margin-top:0.1rem;
            color:mui-color("red");

            .radio-button--search{
                float:left;
                margin:1.5rem 2.0rem 0rem 0rem;
            }

            .radio-button--checkbox{
                float:left;
                margin:0.25rem 2.0rem 0rem 0rem;
            }

            #search{
                padding:0.5rem 1.0rem 0.25rem 1.0rem;
                margin-top:1.0rem;
                width: 30%;
            }

            #submit-button{
                background-color:mui-color("blue");
                color:mui-color("white");
                margin:1.0rem 0rem 0rem 0.25rem;
                padding:0.5rem 1.0rem 0.25rem 1.0rem;
            }

            #submit-button[disabled]{
                background-color:mui-color("grey");
            }

            .select {
              font-weight:bold;
            }
            .loc {
              font-weight:bolder;
            }

            .bloc {
              color:mui-color("grey");
            }

            span.fileFormat {
                span.bloc::after {
                  content: ', ';
                }

                span.bloc:last-child::after {
                  content:'';
                }
            }
            .checkboxes {
                label{
                    display:inline-flex;
                    align-items:center;
                    padding-right:10px;
                }
                span{
                    margin-left:0.25rem;
                    vertical-align:middle;
                }
            }
            .sorting {
                display:flex;
                align-items:center;
                .mui-select {
                    cursor:pointer;
                }
                label {
                    overflow-y:hidden;
                }
                & > label {
                    margin-left:10px;
                }
                span {
                    margin-left:0.25rem;
                }
            }
        }
    }

    .files{
        clear:left;
        margin-top:2rem;

        .file{
            pre{
                display:none;
            }

            &.active{
                pre{
                    display:grid;
                    .hljs{
                        // overwrite hljs library
                        display:inherit;
                    }
                }
            }
        }

        .title{
            margin-top:1rem;
            font-size:1.25rem;
            font-weight:bold;

            .path{
                cursor:pointer;
            }

            .loc{
                color:mui-color('grey');
            }

            .button{
                font-size:1.15rem;
                color:mui-color("grey");
                text-decoration:none;
                margin-left:0.5rem;
            }
        }

        .code{
            padding-left:1rem;
            border-left:0.25rem solid mui-color('green');
            background-color:mui-color('green', '50');
        }

        .untouched{
            $grey:mui-color('grey', '400');

            &.active{
                .code{
                    display:inherit;
                    background-color:mui-color('white');
                }

                .closer{
                    .icon{
                        background-color:mui-color('black');
                    }

                    .tooltiptext{
                        &--open{ display:inline-block; }
                        &--close{ display:none; }
                    }
                }
            }

            .code{
                display:none;
                border-left:0.25rem solid $grey;
                background-color:mui-color('white');
            }

            .closer{
                cursor:pointer;
                padding:0.5rem 1rem;

                .icon{
                    background-color:$grey;
                    color:mui-color('white');

                    width:2.2rem;
                    border-radius:0.25rem;

                    &:hover{
                        background:black;
                    }

                    &:hover ~ .tooltiptext{
                        visibility:visible;
                    }
                }

                .tooltiptext{
                    padding:0.5rem;
                    margin-left:0.5rem;
                    border-radius:0.25rem;

                    color:mui-color('white');
                    background-color:mui-color('black');

                    text-align:center;
                    visibility:hidden;

                    &--open{ display:none; }
                    &--close{ display:inline-block; }
                }
            }
        }
    }

    .empty{
        text-align:center;
    }
}
