@import "colors";

/** global **/
body{
    font-family:"Titillium Web", sans-serif;
}

vuetemplate{
    display:none;
}

.wrapper{
    text-align:center;
}

.content{
    max-width:40rem;
    text-align:left;
}

.empty{
    margin:3rem 5rem;
    text-align:center;
}

.timestamp-footer {
    position: relative;
    left: 0;
    bottom: 0;
    font-weight: bold;
    width: 25%;
    margin-left: 1em;
    margin-bottom: 1em;
    color: rgba(0,0,0,.87);
    text-align: left;
}

.code {
  padding-left: 1em;
  border-left: 4px #4CAF50 solid ;
}

/** navigation bar **/
header{
    z-index:100;
    position:relative;

    display:flex;
    justify-content:center;

    .content{
        display:flex;
        justify-content:space-between;
        align-items:center;

        flex-grow:1;
    }

    .repo, .logo{
        margin:0;
    }
}

#file-upload{
    text-align:center;
}

#app-wrapper{
    display:flex;
    position:absolute;
    left:0; top:0;
    z-index:50;

    width:100%;
    height:100vh;

    #summary-wrapper{
        height:100%;
        overflow-y:scroll;
        flex-grow:1;

        text-align:center;
    }

    #tabs-wrapper{
        $tabs-width:50%;

        flex:0 0 $tabs-width;
        position:relative;
        overflow-y:scroll;
        background: #ececec;

        .tab-close{
            cursor:pointer;
            position:fixed;
            top:calc(50vh - 3rem);

            svg{
                color:#fff;
                background-color:#333;
                padding:3rem 0.25rem;
            }
        }

        .mui-tabs__bar{
            background-color:#fff;
            width:$tabs-width;
            position:fixed;
            right:0;

            a{
                display:inline;
                cursor:pointer;
                vertical-align:middle;
            }
        }

        .tab-content{
            display:flex;
            padding:1rem 1.5rem;
            padding-top:4rem;

            .tab-panes{
                width:100%;
                text-align:left;
            }
        }
    }
}

/* summary chart */
#summary, .summary-status{
    padding:2rem 1rem;
}

.summary-picker{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin-bottom:2rem;

    &__input{
        margin:0 0.5rem;
        text-align:left;
    }

    &__search{
        text-transform:lowercase;
    }

    &__checkboxes{
        label{ margin-left:0.5rem; }
        span{ margin-left:0.25rem; }
    }

    &__date:first-child{
        margin-right:0.5rem;
    }

    label{
        overflow-y:hidden;
    }
}

.summary-charts{
    margin-bottom:3rem;

    &--title{
        text-align:left;
        font-weight:bold;
    }
}

.summary-chart{
    margin-bottom:1rem;

    &.indented{
        padding-left:1.5rem;
    }

    &__title{
        text-align:left;
        cursor:pointer;

        &--index, &--repo, &--name{
            display:inline;
        }

        &--index, &--repo{
            font-weight:bold;
        }

        &--index::after{
            content:".";
            display:inline-block;
            padding-right:0.5rem;
        }

        &--repo{
            padding-right:0.25rem;
        }
    }

    &__ramp{
        position:relative;
        font-size:100%;

        $height:3rem;
        height:$height;
        background-color:mui-color("blue", "50");

        &__slice{
            display:block;
            position:absolute;
            width:0;
            height:0;

            border-left-color: rgba(0,0,0,0);
            border-left-style: solid;

            &--color0{ border-bottom:$height rgba(mui-color("orange"), 0.5) solid;  }
            &--color1{ border-bottom:$height rgba(mui-color("light-blue"), 0.5) solid;  }
            &--color2{ border-bottom:$height rgba(mui-color("green"), 0.5) solid;  }
            &--color3{ border-bottom:$height rgba(mui-color("indigo"), 0.5) solid;  }
            &--color4{ border-bottom:$height rgba(mui-color("pink"), 0.5) solid;  }
        }
    }

    &__contrib{
        width:100%;
        text-align:left;

        &--bar{
            height:0.3rem;
            margin-top:0.1rem;
            background-color:mui-color("red");
        }
    }
}

/* Authorship */
#tab-authorship{
    .title{
        .repoName{
            font-size:1.5rem;
            font-weight:bold;
        }
    }

    .files{
        margin-top:2rem;

        .title{
            margin-top:1rem;
            cursor:pointer;
            font-size:1.25rem;
            font-weight:bold;
        }

        .untouched{
            margin-top:1rem;

            .closer{
                cursor:pointer;
                padding:0.5rem 1rem;

                .fa-ellipsis-h{
                    width: 2.2rem;
                    background-color: #bfbdbd;
                    color: white;
                    border-radius: 5px;

                    &:hover {
                        color: #fff;
                        background: black !important;
                        font-weight: bold
                    }

                    &:hover ~ .tooltiptext {
                      visibility: visible;
                    }
                }

                .tooltiptext {
                  position: relative;
                  color: #fff;
                  background-color: #000;
                  text-align: center;
                  padding: 5px 6px;
                  margin-left: 5px;
                  visibility: hidden;
                  border-radius: 6px;
                }
            }
        }
    }

    .empty{
        text-align:center;
    }
}
