@import 'colors';

/* Authorship */
#tab-authorship {

  .file-content {
    background-color: mui-color('github', 'title-background');
    border: solid mui-color('github', 'border');
    border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px 1px;
  }

  .title {
    .repoName {
      cursor: pointer;
    }

    .author {
      margin-left: .3rem;
    }

    .period {
      margin-left: 2rem;
    }

    .contribution {
      color: mui-color('red');

      .fileType {
        align-items: center;
        display: flex;
        margin-left: 3rem;
        margin-top: 1.0rem;
      }

      .radio-button--search {
        float: left;
        margin: 1.75rem 2.0rem 0 0;
      }

      .radio-button--checkbox {
        float: left;
        margin: 0 2.0rem 0 -3rem;
        vertical-align: middle;
      }

      #search {
        margin-top: 1.25rem;
        padding: .5rem 1.0rem .25rem 1.0rem;
        width: 30%;
      }

      #submit-button {
        background-color: mui-color('blue');
        color: mui-color('white');
        margin: 1.0rem 0 0 .25rem;
        padding: .5rem 1.0rem .25rem 1.0rem;
      }

      .select {
        font-weight: bold;
      }

      .loc {
        font-weight: bolder;
      }

      .bloc {
        color: mui-color('grey');
      }

      span.fileType {
        span.bloc::after {
          content: ', ';
        }

        span.bloc:last-child::after {
          content: '';
        }
      }

      .mui-checkbox--fileType {
        vertical-align: middle;
      }

      .checkboxes {
        label {
          align-items: center;
          display: inline-flex;
          padding-right: 10px;
        }

        span {
          margin-left: .25rem;
        }
      }
    }
  }

  .files {
    clear: left;

    .file {
      pre {
        display: none;
        // GitHub's font family and font size
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        font-size: 12px;
      }

      &.active {
        pre {
          display: grid;
          margin-top: 0;

          .hljs {
            // overwrite hljs library
            display: inherit;
            padding: 0;
            white-space: pre-wrap;
          }
        }
      }
    }

    .title {
      background-color: mui-color('github', 'title-background');
      border: 1px solid mui-color('github', 'border');
      border-radius: 4px 4px 0 0;
      font-size: medium;
      font-weight: bold;
      margin-top: 1rem;
      padding: .3em .5em;

      .path {
        cursor: pointer;
        overflow-wrap: break-word;
      }

      .loc {
        color: mui-color('grey');
      }

      .button {
        color: mui-color('grey');
        margin-left: .5rem;
        text-decoration: none;
      }
    }

    .segment {
      border-left: .25rem solid mui-color('green');

      .code {
        background-color: mui-color('github', 'authored-code-background');
        padding-left: 1rem;
      }

      .line-number {
        color: mui-color('grey');
        float: left;
        // Not allowing user to select text
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        width: 2rem;

        // overwrite all hljs colours
        [class^='hljs'] {
          color: mui-color('grey');
        }
      }

      .line-content {
        padding-left: 2rem;
        word-break: break-word;
      }

      &.untouched {
        $grey: mui-color('grey', '400');
        border-left: .25rem solid $grey;
        height: 20px; /* height of a single line of code */
        position: relative;

        &.active {
          height: auto;

          .code {
            background-color: mui-color('white');
            display: inherit;
          }

          .closer {
            .icon {
              &.open {
                display: none;
              }

              &.hide {
                display: inherit;
              }
            }
          }
        }

        .code {
          display: none;
        }

        .closer {
          cursor: pointer;
          // custom margin for position of toggle icon
          margin: .2rem 0 0 -.45rem;
          position: absolute;

          &.bottom {
            //custom margin for position of toggle icon at the bottom of segment
            margin: -1.05rem 0 0 -.45rem;
          }

          .icon {
            background-color: mui-color('white');
            color: mui-color('grey');
            width: .75em;

            &.open {
              display: inherit;
            }

            &.hide {
              display: none;
            }
          }
        }
      }
    }
  }

  .empty {
    text-align: center;
  }
}
