@import 'colors';

.zoom {
  &__title {
    &--chart {
      margin-left: .3rem;
    }

    &--period {
      margin-left: 2rem;
    }

    &--granularity {
      margin-top: .5rem;
    }

    &--tags {
      margin: .25rem 0 .25rem 0;

      .tag {
        cursor: pointer;
      }
    }
  }

  &__toggle-commit-message-body {
    padding-top: 10px;
  }

  &__day,
  &__title {
    /* Tags in commits */
    .tag {
      background: mui-color('grey', '600');
      border-radius: 5px;
      color: mui-color('white');
      display: inline-block;
      margin: .2rem .2rem .2rem 0;
      padding: 0 3px 0 3px;

      .fa-tags {
        width: .65rem;
      }
    }
  }
}

/* Commit Message Body in Zoom Tab */
.commit-message {
  padding: 5px;

  &:focus,
  &:focus-within {
    border: 1px solid mui-color('blue', '500');
  }

  &.active {
    .body {
      background-color: mui-color('white');
      border: 1px solid mui-color('grey', '700');
      display: grid;
      margin: .25rem 0 .25rem 0;
      overflow-x: auto;
      padding: .4rem;
      resize: none;

      pre {
        position: relative;

        .dashed-border {
          border-right: 1px dashed mui-color('grey', '500'); // 72nd character line
          height: 100%;
          pointer-events: none;
          position: absolute;
          top: 0;
          width: 72ch;
        }
      }
    }
  }

  .body {
    display: none;
  }

  .tag {
    cursor: pointer;

    &:focus {
      border: 1px solid mui-color('blue', '500');
      outline: none;
    }
  }

  &--button {
    color: mui-color('grey');
    padding-left: .5rem;

    &:hover {
      cursor: pointer;
    }
  }

  pre {
    margin: 0;
  }

  span.loc {
    color: mui-color('grey');
  }

  .message-title {
    display: inline;
    font-family: monospace;

    .within-border {
      display: inline;
    }

    .not-within-border {
      border-left: 1px dashed mui-color('grey', '500'); // 50th character line
      display: inline;
    }
  }
}
