div.content-container {
	width: 90vw;
	float:right;
}

div.author-name-menu-container {
	width: 7vw;
	float:left;
	position: fixed;

}

div.code-container {

}
div.row {
  border-bottom: 1px solid  #D3D3D3;
}

div.issue-col {
  border-right: 3px solid  #8B4513	;
    border-left: 1px solid  #8B4513	;

}

span.line-number {
	padding-right: 2%;
}

pre {
	border: 0; 
	background-color: 
	transparent;
	padding: 0;
	margin: 0;
}

.hover
{
    background-color:Silver;
}
