blockquote {
    border-left: 0.25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1rem;
}

code {
    background: #f8f8f8;
    border-radius: 3px;
    padding: 0.2em 0.4em;
    word-break: normal;
}

pre.hljs > code {
    background: none;
}

pre > code.hljs {
    -webkit-background-clip: padding-box; /* for Safari */
    background: ghostwhite;
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    border: 1px solid rgb(200, 200, 200);
    border: 1px solid rgba(200, 200, 200, 0.3);
    border-radius: 5px;
    counter-reset: line;
}

pre > code.hljs[heading] {
    border-top-right-radius: 0;
}

.code-block {
    position: relative;
}

.code-block-heading {
    background-color: #f2f2ff;
    border-radius: 6px 6px 0 0;
    color: #8787a5;
    float: right;
    font-size: 85%;
    line-height: 1;
    max-width: 85%;
    overflow-wrap: break-word;
    padding: 0.25em 0.4em;
    text-align: right;
}

.inline-markdown-heading {
    line-height: 1.5;
}

.code-block-content {
    clear: both;
    display: block;
}

code > span.highlighted {
    background: lavender;
}

kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
}

.btn:active,
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

code.hljs.inline {
    background: #f8f8f8;
    color: #333;
    display: initial;
    padding: 0;
}

code.hljs:hover {
    white-space: pre-wrap;
}

.markbind-table {
    width: auto;
}

.radio-list-item,
.task-list-item {
    list-style-type: none;
    margin: 0 0 0 -1.2em;
}

.radio-list-item label {
    font-weight: inherit;
}

.table-striped > thead,
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fff;
}

/**
  * Holy Grail Layout
  *
  * This section covers the common styles used within Header, Footer and Side Navigation bars
  */

/* Header */

header.header-fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* #app is treated as the main container */
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#flex-body {
    display: flex;
    flex: 1;
}

#content-wrapper {
    flex: 1;
    margin: 0 auto;
    min-width: 0;
    max-width: 1000px;
    padding: 0 20px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

/* Footer */
footer {
    background-color: #f5f5f5;
    color: dimgrey;
    padding: 10px 0;
}

/* Side Navigation menus */

.border-left-grey {
    border-left: 1px solid lightgrey;
}

.border-right-grey {
    border-right: 1px solid lightgrey;
}

.nav-inner {
    /* This class is used in both site and page navigation menus,
       specifically for the sticky container to ensure adequate
       spacing between itself and the boundaries of the menus
     */
    max-height: 90vh;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1rem;
    top: 0;
}

/* TODO move this back to markdown-it-attr if bundling is implemented */
.dimmed {
    color: #777;
}

/* Bootstrap small(sm) responsive breakpoint */
@media (max-width: 767.98px) {
    .dropdown-menu > li > a {
        white-space: normal;
    }

    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }

    #content-wrapper {
        padding: 0 10px;
    }
}

/* Scrollbar */

.slim-scroll::-webkit-scrollbar {
    width: 5px;
}

.slim-scroll::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 20px;
}

.slim-scroll::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

.slim-scroll-blue::-webkit-scrollbar {
    width: 5px;
}

.slim-scroll-blue::-webkit-scrollbar-thumb {
    background: #00b0ef;
    border-radius: 20px;
}

.slim-scroll-blue::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

/* Temporary Anti-FOUC Styles */

/* By default, some VueStrap components break the layout of the page before Vue is mounted,
so we apply temporary styles to fix the layout until Vue correctly updates the DOM. */

.temp-navbar {
    display: flex;
}

.temp-navbar li {
    display: block;
}

.temp-dropdown {
    display: none;
}

/* Hide the contents of unexpanded panels */
/* stylelint-disable selector-type-no-unknown */
panel:not([expanded]):not([minimized]) {
    display: block;
    height: 53px;
    visibility: hidden;
}

panel[minimized] {
    display: inline-block;
    height: 38px;
    visibility: hidden;
}

panel:not([expanded]):not([minimized])::before {
    color: white;
    content: "Loading...";
    display: block;
    height: 53px;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0.75rem 1.25rem;
    visibility: visible;
}

panel[minimized]::before {
    border: #0b2e13;
    color: white;
    content: "";
    display: inline-block;
    height: 38px;
    padding: 0.75rem 1.25rem;
    visibility: visible;
}

panel[type=seamless]:not([expanded])::before {
    background-color: transparent;
    border: 0;
    color: black;
}

panel[type=primary]:not([expanded])::before {
    background-color: var(--primary);
    border-color: var(--primary);
}

panel[type=secondary]:not([expanded])::before {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

panel[type=success]:not([expanded])::before {
    background-color: var(--success);
    border-color: var(--success);
}

panel[type=warning]:not([expanded])::before {
    background-color: var(--warning);
    border-color: var(--warning);
}

panel[type=danger]:not([expanded])::before {
    background-color: var(--danger);
    border-color: var(--danger);
}

panel[type=info]:not([expanded])::before {
    background-color: var(--info);
    border-color: var(--info);
}

panel[type=light]:not([expanded])::before,
panel:not([type]):not([expanded])::before {
    background-color: var(--light);
    color: black;
}

panel[type=dark]:not([expanded])::before {
    background-color: var(--dark);
    border-color: var(--dark);
}

panel[minimized]:not([expanded])::before {
    background-color: var(--light);
}

/* increasing specificity */
#flex-body panel:not([expanded]) panel {
    display: none;
}

/* stylelint-enable selector-type-no-unknown */

/* Footnote anchor */

li.footnote-item:target {
    background-color: #eee;
}

.hljs:not(.inline) > span {
    display: block;
}

.hljs:not(.inline):not(.no-line-numbers) > span {
    padding: 0 0.5em 0 3.5em;
    position: relative;
}

/* display line numbers beside each span */
.hljs:not(.inline):not(.no-line-numbers) > span::before {
    border-right: 1px solid #ddd;
    display: inline-block;
    color: #888;
    content: counter(line);
    counter-increment: line;
    left: 0;
    margin-right: 0.5em;
    padding-right: 0.5em;
    position: absolute;
    text-align: right;
    top: 0;
    width: 3em;
}

/* hide popover, modal, tooltip content */
[data-mb-html-for] {
    display: none;
}

/* styles for triggers */
.trigger {
    border-bottom: 1px dashed currentColor;
}

.trigger-click {
    cursor: pointer;
    border-bottom: 1px dashed currentColor;
}

.modal.mb-zoom {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.mb-zoom.show {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* "Copy" code block button */
pre {
    position: relative;
}

.copy-btn {
    background-color: #b4b4b9;
    border-radius: 0.25rem;
    color: #f8f8ff;
    display: inline-block;
    font-size: 75%;
    line-height: 1;
    padding: 0.25em 0.4em;
    position: absolute;
    right: 0.5em;
    text-align: center;
    top: 0.4em;
    white-space: nowrap;
}

.copy-btn:hover {
    color: #555;
}

.copy-btn-body {
    align-items: center;
    display: flex;
}

.copy-btn svg {
    fill: currentColor;
    margin-right: 0.4em;
}

.copy-btn-label {
    font-size: 11px;
}

.copy-btn:focus {
    outline: none;
}

/* Octicon sizing */
.octicon {
    height: 1em;
    width: 1em;
}
