/* Site navigation */

#site-nav {
    background: white;
    display: block;
    flex: 0 0 auto;
    max-width: 300px;
    padding: 0;
    transition: 0.4s;
    width: 300px;
    -webkit-transition: 0.4s;
}

#site-nav .nav-inner {
    max-height: 100vh;
}

#site-nav a.current {
    color: #0072ec;
}

/* Navigation list */

.site-nav-list {
    list-style-type: none;
    padding-left: 0;
}

.site-nav-list-root {
    margin: 0 -12px;
}

.site-nav-default-list-item {
    display: flex;
    padding: 0.5rem 0 0 2.8rem;
    transition: background-color 0.08s;
    color: #454545;
    cursor: pointer;
}

.site-nav-custom-list-item {
    padding: 0.5rem 0 0 2.8rem;
    color: #454545;
}

.site-nav-list-item-0 {
    padding: 0.8rem 0 0.4rem 0.8rem;
    font-weight: 600;
    font-size: 1.05em;
}

.site-nav-list-item-1 {
    padding: 0.5rem 0 0.3rem 1.3rem;
}

.site-nav-list-item-2 {
    padding: 0.5rem 0 0.2rem 1.8rem;
    font-size: 0.95em;
}

.site-nav-list-item-3 {
    padding: 0.5rem 0 0.2rem 2.4rem;
    font-size: 0.87em;
}

.site-nav-default-list-item:hover {
    background-color: rgba(214, 233, 255, 0.35);
}

.site-nav-default-list-item a {
    display: inline-block;
    height: 100%;
    color: #454545;
}

.site-nav-default-list-item:hover a {
    color: black;
    text-decoration: none;
}

/* Navigation dropdown menu */

.site-nav-dropdown-btn-icon {
    display: inline-block;
    align-self: center;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 1rem;
    margin: 0 0.5rem 0 auto;
    transition: 0.4s;
    transform: rotate(0deg);
    -webkit-transition: 0.4s;
    -webkit-transform: rotate(0deg);
}

.site-nav-dropdown-btn-icon:hover {
    background-color: #d8e3fb;
}

.site-nav-rotate-icon {
    color: #4c7ff1;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.site-nav-dropdown-container {
    background: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
    -webkit-transition: max-height 0.15s ease-out;
}

.site-nav-dropdown-container-open {
    max-height: 1000px;
    transition: max-height 0.25s ease-in;
    -webkit-transition: max-height 0.25s ease-in;
}

/* Hamburger button */

.menu-top-bar,
.menu-middle-bar,
.menu-bottom-bar {
    background-color: darkslategrey;
    height: 4px;
    margin: 5px 10%;
    transition: 0.4s;
    width: 28px;
    -webkit-transition: 0.4s;
}

/* Hamburger button shifting to close button */

.shift .menu-top-bar {
    background-color: white;
    transform: rotate(45deg) translate(6px, 6px);
    -webkit-transform: rotate(45deg) translate(6px, 6px);
}

.shift .menu-middle-bar {
    opacity: 0;
}

.shift .menu-bottom-bar {
    background-color: white;
    transform: rotate(-45deg) translate(7px, -7px);
    -webkit-transform: rotate(-45deg) translate(7px, -7px);
}

/* Responsive site navigation */

/* Bootstrap medium(md) responsive breakpoint */
@media screen and (max-width: 991.98px) {
    #site-nav {
        border: none;
        opacity: 0;
        padding-right: 0;
        width: 0;
    }

    #site-nav-btn-wrap {
        max-height: calc(100vh - 50px);
        opacity: 1;
        width: 60px;
    }

    footer {
        margin-left: 60px;
    }

    /* Site navigation open button toggle */

    #site-nav.open {
        border-right: 1px solid lightgrey;
        height: 100%;
        max-height: calc(100vh - 50px);
        opacity: 1;
        overflow: auto;
        padding-bottom: 40px;
        width: 300px;
    }

    #site-nav-btn-wrap.open {
        background-color: darkslategrey;
        border: none;
        margin-left: 300px;
    }
}

/* Bootstrap extra small(xs) responsive breakpoint */
@media screen and (max-width: 575.98px) {
    #site-nav {
        padding-right: 0;
    }

    #site-nav-btn-wrap {
        padding: 0;
        width: 0;
    }

    footer {
        margin-left: 0;
    }

    /* Site navigation open button toggle */

    #site-nav.open {
        border: none;
        width: 0;
    }

    #site-nav-btn-wrap.open {
        margin-left: 0;
    }
}

/* Hide site navigation when printing */
@media print {
    #site-nav {
        border: none;
        display: none;
    }
}
