html
  head
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/muicss/0.9.39/css/mui.min.css")
    link(rel="stylesheet", href="static/css/style.css")

    script(src="//cdnjs.cloudflare.com/ajax/libs/muicss/0.9.39/js/mui.min.js")

    script(src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js")
  body
    div#app
      header.mui-appbar
        .wrapper
          .logo.mui--text-title RepoSense
          form.repo(onsubmit="return false;")
            input(placeHolder="insert report URL", v-model="reportDirInput")
            button.mui-btn.mui-btn--flat(v-on:click="updateReportDir();") Go 
      
      #summary
        #summary__picker
        #summary__charts.wrapper 
          .summary-chart(v-for="(user, i) in users") 
            .summary-chart__title 
              .summary-chart__title--index {{ i+1 }} 
              .summary-chart__title--organization {{ repos[user.repoId].organization }}
              .summary-chart__title--repo {{ repos[user.repoId].repoName }}
              .summary-chart__title--user {{ user.displayName }}
            .summary-chart__ramp
              .summary-chart__ramp__slice(
                v-for="(slice, i) in user.dailyCommits",
                v-bind:title="'contribution on '+slice.fromDate+': '+slice.insertions+' lines'",
                v-bind:class="'summary-chart__ramp__slice--color'+i%5",
                v-bind:style="{ 
                  borderLeft: getWidth(slice)+'em #0000 solid',
                  right: (sliceCount-i-1)*sliceWidth + '%'
                }"
              )
            .summary-chart__contrib 
    
    script#v_commits
    
    script(src="static/js/api.js")
    script(src="static/js/main.js")
