html
  head
    title RepoSense Report
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Titillium+Web")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/normalize.css@8.0/normalize.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/muicss@0.9/dist/css/mui.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/highlight.js@9.14/styles/color-brewer.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/vue-loading-spinner@1.0/dist/vue-loading-spinner.css")

    script(src="https://use.fontawesome.com/releases/v5.0.13/js/all.js", defer=True)
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5/dist/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/jszip@3.1/dist/jszip.min.js")

    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/highlight.min.js")
    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/languages/asciidoc.min.js")
    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/languages/gradle.min.js")
    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/languages/plaintext.min.js")
    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/languages/scss.min.js")
    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/languages/yaml.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue-loading-spinner@1.0/dist/vue-loading-spinner.js")
  body
    #app
