html
  head
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/muicss/0.9.39/css/mui.min.css")
    link(rel="stylesheet", href="static/css/style.css")

    script(src="//cdnjs.cloudflare.com/ajax/libs/muicss/0.9.39/js/mui.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js")
  body
    div#app
      header.mui-appbar
        .wrapper
          .logo.mui--text-title RepoSense
          .repo
            input(placeHolder="insert report URL")
            button.mui-btn Go

      
