#authorship
  span.large-font Code Panel
  .toolbar(v-if="hasCommits(info)")
    a(v-if="hasActiveFile", v-on:click="expandAll(false)") hide all file details
    a(v-else, v-on:click="expandAll(true)") show all file details
  .title
    a.repoName.large-font(
      v-bind:href="info.location", target="_blank",
      v-bind:title="'Click to open the repo'"
    ) {{ info.repo }}
    .author.medium-font
      span &#8627; &nbsp;
      span {{ info.name }} ({{ info.author }})
    .period.medium-font
      span &#8627; &nbsp;
      span {{ info.minDate }} to {{ info.maxDate }}
    .contribution(v-if="isLoaded && files.length!=0")
      .sorting.mui-form--inline
        .mui-select
          select.medium-font(v-model="filesSortType")
            option(value="lineOfCode") LoC
            option(value="path") Path
            option(value="fileName") File Name
            option(value="fileType") File Type
          label.medium-font sort by
        .mui-select.sort-order
          select.medium-font(v-model="toReverseSortFiles")
            option(v-bind:value='true') Descending
            option(v-bind:value='false') Ascending
          label.medium-font order
      .searchbox
        input.radio-button--search(type="radio", value="search", v-model="filterType")
        form.file-picker.mui-form--inline(onsubmit="return false")
          input#search.medium-font(type="search", placeholder="Filter by glob", v-on:change="updateFilterSearch",
            v-on:click="indicateSearchBar")
          button#submit-button.medium-font(type="submit", v-on:click="indicateSearchBar") Filter
      .fileType
        input.radio-button--checkbox(type="radio", value="checkboxes", v-model="filterType")
        .checkboxes.mui-form--inline(v-if="files.length > 0")
          label
            input.mui-checkbox--fileType(type="checkbox", v-model="isSelectAllChecked")
            span(v-bind:title="getTotalFileBlankLineInfo()")
              span.select.medium-font All:&nbsp;
              span.loc.medium-font {{ totalLineCount }}&nbsp;
              span.bloc.medium-font ({{ totalBlankLineCount }})
          template(v-for="fileType in Object.keys(getFileTypeExistingLinesObj)")
            label(v-bind:key="fileType")
              input.mui-checkbox--fileType(type="checkbox", v-bind:id="fileType", v-bind:value="fileType",
                v-on:click="indicateCheckBoxes", v-model="selectedFileTypes")
              span(v-bind:title="getFileTypeBlankLineInfo(fileType)")
                span {{ fileType }}: {{ getFileTypeExistingLinesObj[fileType] }}&nbsp;
                span.bloc ({{ fileTypeBlankLinesObj[fileType] }})

  .files(v-if="isLoaded")
    .empty(v-if="files.length === 0") nothing to see here :(
    template(v-for="file in selectedFiles")
      .file.active(v-bind:key="file.path")
        .title
          span.path(onclick="toggleNext(this.parentNode)", v-on:click="updateCount") {{ file.path }}&nbsp;
          span.loc ({{ file.lineCount }} lines)
          a(
            v-bind:href="getFileLink(file, 'commits')", target="_blank",
            title="click to view the history view of file"
          )
            i.button.fas.fa-history
          a(
            v-bind:href="getFileLink(file, 'blame')", target="_blank",
            title="click to view the blame view of file"
          )
            i.button.fas.fa-user-edit
        pre.hljs.file-content
          template(v-for="segment in file.segments")
            v_segment(v-bind:segment="segment", v-bind:path="file.path")

  .empty(v-else) loading...
