.segment(v-bind:class="{ untouched: !segment.authored, active: segment.lines.length < 5 }")
  .closer(v-if="!segment.authored && segment.lines.length > 4", v-on:click="loadCode()")
    .before-toggle
      i.fas.fa-plus-circle.icon
    .after-toggle
      i.fas.fa-chevron-circle-down.icon
  div(v-if="loaded", v-hljs="path")
    .code(v-for="(line, index) in segment.lines")
      .line-number {{ segment.lineNumbers[index] + "\n" }}
      .line-content {{ line + "\n" }}
  .closer.bottom(v-if="!segment.authored && segment.lines.length > 4", v-on:click="loadCode()")
    .after-toggle
      i.fas.fa-chevron-circle-up.icon
