#zoom
  span.large-font Commits Panel
  .zoom__title
    .zoom_title--group.large-font
      span(v-if="info.filterGroupSelection === 'groupByAuthors'") {{ filteredUser.displayName }} ({{ filteredUser.name }})
      a(
          v-else,
          v-bind:href="info.location", target="_blank",
          v-bind:title="'Click to open the repo'"
        )
          span {{ filteredUser.repoName }}
    .zoom__title--chart.medium-font(v-if="!info.isMergeGroup")
      span &#8627; &nbsp;
      span(v-if="info.filterGroupSelection === 'groupByAuthors'") {{ filteredUser.repoName }}
      span(v-else) {{ filteredUser.displayName }} ({{ filteredUser.name }})
    .zoom__title--period.medium-font
      span &#8627; &nbsp;
      span {{ info.sinceDate }} to {{ info.untilDate }} &nbsp;
      a(v-on:click="openSummary") [Show ramp chart for this period]
    .zoom__title--granularity.mini-font granularity: one ramp per {{ filterTimeFrame }}
  v_ramp(
      v-bind:groupby="info.filterGroupSelection",
      v-bind:user="filteredUser",
      v-bind:tframe="filterTimeFrame",
      v-bind:sdate="info.sinceDate",
      v-bind:udate="info.untilDate",
      v-bind:avgsize="info.avgCommitSize",
      v-bind:mergegroup="info.isMergeGroup")

  .zoom__toggle-commit-message-body(v-if="filteredUser.commits.length")
    button(v-if="expandedCommitMessagesCount === 0" v-on:click="toggleAllCommitMessagesBody(true)") show all commit messages body
    button(v-else v-on:click="toggleAllCommitMessagesBody(false)") hide all commit messages body

  .zoom__day(v-for="day in filteredUser.commits")
    template(v-if="day.insertions > 0")
      h3(v-if="filterTimeFrame === 'week'") Week of {{ day.date }}
      h3(v-else) {{ day.date }}
      ul
        li(v-for="slice in day.commitResults").commit-message.active
          a(v-bind:href="getSliceLink(slice)" target="_blank") {{ slice.messageTitle }}
          span &nbsp; ({{ slice.insertions }} lines)
          a(
            v-if="slice.messageBody !== ''",
            v-on:click="updateExpandedCommitMessagesCount",
            onclick="toggleNext(this)",
            title="Click to show/hide the commit message body"
          )
            i.commit-message--button.fas.fa-ellipsis-h
          .body(v-if="slice.messageBody !== ''")
            pre {{ slice.messageBody }}

