#zoom
  h1(v-if="info.isMergeGroup") {{ info.user.repoName }}
  h1(v-else) {{ info.user.displayName }} ({{ info.user.name }})
  a(v-on:click="openSummary") Show ramp chart for this period

  h2 {{ info.user.repoName }}
  v_ramp(
      v-bind:groupby="info.filterGroupSelection",
      v-bind:user="info.user",
      v-bind:tframe="'commit'",
      v-bind:sdate="info.sinceDate",
      v-bind:udate="info.untilDate",
      v-bind:avgsize="info.avgCommitSize",
      v-bind:mergegroup="info.isMergeGroup")

  .zoom__day(v-for="day in info.user.commits")
    template(v-if="day.insertions > 0")
      h3 {{ day.date }}
      ul
        li(v-for="slice in day.commitResults")
          a(v-bind:href="getSliceLink(slice)", target="_blank") {{ slice.message }}
          span &nbsp; ({{ slice.insertions }} lines)
