#zoom
  .zoom__title
    .zoom_title--group
      h1(v-if="info.filterGroupSelection === 'groupByAuthors'") {{ info.user.displayName }} ({{ info.user.name }})
      h1(v-else) {{ info.user.repoName }}
    .zoom__title--chart(v-if="!info.isMergeGroup")
      span &#8627; &nbsp;
      h3(v-if="info.filterGroupSelection === 'groupByAuthors'") {{ info.user.repoName }}
      h3(v-else) {{ info.user.displayName }} ({{ info.user.name }})
    .zoom__title--period
      span &#8627; &nbsp;
      span {{ info.sinceDate }} to {{ info.untilDate }} &nbsp;
      a(v-on:click="openSummary") [Show ramp chart for this period]
    .zoom__title--granularity.mini-font granularity: one ramp per {{ filterTimeFrame }}
  v_ramp(
      v-bind:groupby="info.filterGroupSelection",
      v-bind:user="info.user",
      v-bind:tframe="filterTimeFrame",
      v-bind:sdate="info.sinceDate",
      v-bind:udate="info.untilDate",
      v-bind:avgsize="info.avgCommitSize",
      v-bind:mergegroup="info.isMergeGroup")

  .zoom__day(v-for="day in info.user.commits")
    template(v-if="day.insertions > 0")
      h3(v-if="filterTimeFrame === 'week'") Week of {{ day.date }}
      h3(v-else) {{ day.date }}
      ul
        li(v-for="slice in day.commitResults")
          a(v-bind:href="getSliceLink(slice)", target="_blank") {{ slice.messageTitle }}
          span &nbsp; ({{ slice.insertions }} lines)
