h1, h2 {
  color: #006600;
  padding: 30px 10px 10px 0;
}

h2 {
  border-top: 5px solid #006600;
}

h3 {
  border-top: 2px dotted grey;
  padding: 20px 10px 10px 0;
}

.thick {
  border-top: 5px solid #006600;
}

.text-green{
  color: #006600
}

.bg-green{
  background-color: #006600
}

.indented-less {
  padding-left: 10px;
}

.indented {
  padding-left: 20px;
}

.indented-level0 {
}

.indented-level1 {
  padding-left: 20px;
}

.indented-level2 {
  padding-left: 40px;
}

.indented-level3 {
  padding-left: 60px;
}

.indented-level4 {
  padding-left: 80px;
}

.bigger-level0 {
  font-size: 1.0em;
}

.bigger-level1 {
  font-size: 1.1em;
}

.bigger-level2 {
  font-size: 1.2em;
}

.bigger-level3 {
  font-size: 1.3em;
}

.bigger-level4 {
  font-size: 1.4em;
}

mark {
    background-color: #ff0;
    border-radius: 5px;
    padding-top: 0;
    padding-bottom: 0;
}
